on:
  pull_request:
  merge_group:

name: Continuous integration

# Make sure CI fails on all warnings, including Clippy lints
env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
        flash:
          - --features=flash
          - ''
        ethernet:
          - --features=ethernet
          - ''

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Format check
        run: cargo fmt --check
      - name: Regular build
        run: cargo check ${{ matrix.flash }} ${{ matrix.ethernet }} --no-default-features
      - name: Build examples
        run: cargo check --examples --tests ${{ matrix.flash }} ${{ matrix.ethernet }} --no-default-features
      - name: Clippy
        run: cargo clippy --examples --tests ${{ matrix.flash }} ${{ matrix.ethernet }} --no-default-features